<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">¡Bienvenido!</h1>
          <p class="text-lead text-light">Plataforma de pedidos de comida: Tango Cart</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Ingrese sus credenciales</small>
          </div>
          <form role="form" #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                <input class="form-control" name="username" placeholder="Usuario" type="text" ngModel>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" name="password" placeholder="Password" type="password" ngModel>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Sign in</button>
            </div>
          </form>
          <hr />
          <div class="form-group">
            <label for="inputESB">ESB</label>
            <select class="form-control" id="inputESB"  [(ngModel)]="esbValue" >
              <option value="1">Grupo 1</option>
              <option value="2">Grupo 2</option>
              <option value="3">Grupo 3</option>
              <option value="4">Grupo 4</option>
              <option value="5">Grupo 5</option>
              <option value="6">Grupo 6</option>
              <option value="7">Grupo 7</option>
              <option value="8">Grupo 8</option>
            </select>
            <div class="text-center">
              <button type="submit" class="btn btn-success my-4" (click)="establecerESB()">Establecer conexión</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>